---
import "../styles/global.css";
import ThemeScript from "../layouts/ThemeScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AboutIcon from "/public/monoyaffu.png";
import { Image } from "@astrojs/image/components";
---

<!DOCTYPE html>
<html class="theme-bubblegum" lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <ThemeScript />
    </head>
    <div>
        <div class="max-w-2xl mx-auto px-6 sm:px-8 unit">
            <Header />
        </div>
        <div class="container max-w-lg mx-16">
            <div>
                <Image
                    src={AboutIcon}
                    alt="About Icon"
                    class="scale-75 rounded-full border-2 dark:border-sky-400 bg-slate-400 bg-opacity-10"
                />
            </div>
            <div>
                aaa
            </div>
        </div>
        <div class="max-w-3xl mx-auto px-6 sm:px-8 unit">
            <Footer />
        </div>
    </div>
    <style>
        .unit {
            display: grid;

            grid-template-areas:
                "header"
                "footer";
            grid-template-rows: 5rem minmax(0, 1fr);
        }
    </style>
</html>
