---
import "../styles/global.css";
import ThemeScript from "../layouts/ThemeScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html class="theme-bubblegum" lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <ThemeScript />
    </head>

    <div>
        <div class="max-w-3xl mx-auto px-6 sm:px-8 unit">
            <Header />
        </div>
        <div>
            
        </div>
        <div class="max-w-3xl mx-auto px-6 sm:px-8 unit">
            <Footer />
        </div>
    </div>
    <style>
        .unit {
            display: grid;
            grid-template-areas:
                "header"
                "footer";
            grid-template-rows: 5rem minmax(0, 1fr);
        }
    </style>
</html>
