---
import "../styles/global.css";
import ThemeScript from "../layouts/ThemeScript.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import AboutIcon from "/public/monoyaffu.png";
import { Image } from "@astrojs/image/components";
---

<!DOCTYPE html>
<html class="themes" lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <ThemeScript />
    </head>
    <div>
        <div class="max-w-3xl mx-auto px-6 sm:px-8 unit">
            <Header />
        </div>
        <div class="container max-w-4xl m-auto grid gap-x-44 grid-cols-2">
            <div>
                <Image
                    src={AboutIcon}
                    alt="About Icon"
                    class="rounded-full border-2 border- dark:border-sky-400 bg-blue-800 bg-opacity-20"
                />
            </div>
            <div>
                <h1 class="mt-16">Hello World Yaffuです。</h1>
            </div>
        </div>
        <div class="max-w-3xl mx-auto px-6 sm:px-8 unit">
            <Footer />
        </div>
    </div>
    <style>
        .unit {
            display: grid;
            grid-template-areas:
                "header"
                "footer";
            grid-template-rows: 5rem minmax(0, 1fr) 3rem;
            grid-template-columns: minmax(0, 1fr);
        }
    </style>
</html>
